.message {
    position: relative;
    text-align: right;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
}

.message::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.imageAndText {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-right: 70px;
    padding-top: 25px;
}


.imageAndText img {
    max-width: 48px;
    max-height: 48px;
    object-fit: contain;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 12px;
    border-radius: 10px;
    background-color: #0066CC;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}

.text:after {

}

.name {
    text-align: right;
}

.messageText {
    text-align: right;
}

.time {
    position: absolute;
    margin-top: 90px;
    margin-right: 75px;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}